[submodule "expenseManager"]
	path = expenseManager
	url = https://github.com/ajrobbins04/expenseManager.git
[submodule "mathFlashcards"]
	path = mathFlashcards
	url = https://github.com/ajrobbins04/mathFlashcards.git
[submodule "sudoku_solver"]
	path = sudoku_solver
	url = https://github.com/ajrobbins04/sudoku_solver.git
[submodule "chatApp"]
	path = chatApp
	url = https://github.com/ajrobbins04/chatApp.git
