[submodule "expenseManager"]
	path = expenseManager
	url = https://github.com/ajrobbins04/expenseManager.git
[submodule "mathFlashcards"]
	path = mathFlashcards
	url = https://github.com/ajrobbins04/mathFlashcards.git
[submodule "sudoku_solver"]
	path = sudoku_solver
	url = https://github.com/ajrobbins04/sudoku_solver.git
[submodule "airHockey"]
	path = airHockey
	url = https://github.com/ajrobbins04/airHockey.git
[submodule "password_manager"]
	path = password_manager
	url = https://github.com/ajrobbins04/password_manager.git
